:root {
  /* Color Palette */
  --falu_red: #721817;
  --sandy_brown: #fa9f42;
  --indigo_dye: #2b4162;
  --dartmouth_green: #0b6e4f;
  --platinum: #e0e0e2;

  --felt_background_texture: var(--dartmouth_green);

  --global_font:
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* We should pull all values in here
  * for example, instead of doing color #: xxxxx
  * we can just do var(xxxxxx) and reuse them */
}

tbody {
  font-family: var(--global_font);
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0.5rem auto 1.5rem;
  color: #cfd8dc;
}
th {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--sandy_brown);
  text-shadow: 0 0 8px rgba(4, 5, 5, 0.287);
}
body {
  font-family: var(--global_font);
  background: var(--felt_background_texture);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  position: relative;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--sandy_brown);
  text-shadow: 0 0 8px rgba(4, 5, 5, 0.287);
}
p {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 0.5rem auto 1.5rem;
  font-weight: bolder;
  color: var(--platinum);
}
button {
  background: var(--falu_red);
  border: none;
  color: var(--platinum);
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background: var(--sandy_brown);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px var(--sandy_brown);
}
a {
  color: var(--sandy_brown);
  text-decoration: underline;
  font-weight: 600;
  margin-top: 2rem;
  display: inline-flex;
}
a:hover {
  text-decoration: underline;
}

.page_link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.five-card-row {
  display: flex;
}

.five-card-column {
  flex: 33.33%;
  padding: 5px;
}

#handPhrase {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 0.5rem auto 1.5rem;
  font-weight: bolder;
  color: var(--platinum);
  font-style: italic;
}

.hand-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;
}

.card-container {
  display: flex;
  gap: 12px;
}

.nav-arrow {
  padding: 0;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  border: none;
  cursor: pointer;
  transition:
    transform 0.15s ease,
    background 0.15s ease,
    box-shadow 0.15s ease;
}

.nav-arrow:hover {
  background: transparent;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px transparent;
}
